{% extends 'catalog/base.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">БЛОГ</h1>
    </div>
    <div class="container">
        <div class="mb-4">
            <a href="{% url 'blog:create' %}" class="btn btn-primary">Добавить пост</a>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
                {% include 'blog/includes/inc_post_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}